{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
    <h3>Rates Manager</h3>

   <table id="data-table" class="table table-responsive table-striped">
        <thead class="thead-default">
            <tr>
                <th>Currency</th>
                <th>Surcharge</th>
                <th>Exchange</th>
                <th>Checkdate</th>
                <th>Notify</th>
                <th>Discount</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rate in rates %}
            <tr>
                <td>{{ rate.currency }}</td>
                <td>{{ rate.surcharge }}</td>
                <td>{{ rate.exchange }}</td>
                <td>{% if rate.checkDate %}{{ rate.checkDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if rate.notify %}Yes{% else %}No{% endif %}</td>
                <td>{{ rate.discount }}</td>
                <td>
                 <a href="{{ path('rates_edit', { 'id': rate.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        </div>
</div>
{% endblock %}
